# 01 - Creating, Reading, Writing

## Q1 
```
 	Apples 	Bananas
0 	30 	21
```

In [3]:
import pandas as pd
# Q1
fruits = pd.DataFrame(
    {
        "Apples": pd.Series(30, dtype="int64"),
        "Bananas": pd.Series(21, dtype="int64"),
    }
)

fruits

   Apples  Bananas
0      30       21

In [13]:
# or
fruits = pd.DataFrame([[30, 21]], columns= ["Apples", "Bananas"])
fruits

   Apples  Bananas
0      30       21

## Q2
```
 	Apples 	Bananas
2017 Sales 	35 	21
2018 Sales 	41 	34
```

In [12]:
fruits_sales = pd.DataFrame([[35,21], [41, 34]], 
                            columns=["Apples", "Bananas"], 
                            index=["2017 Sales", "2018 Sales"])

fruits_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

## Q3
```
Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object
```

## Q4

In [16]:
# reviews = pd.read_csv("../input/wine-reviews/winemag-data_first150k.csv", index_col=0)

## Q5

In [17]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals

        Cows  Goats
Year 1    12     22
Year 2    20     19

In [18]:
# animals.to_csv("cows_and_goats.csv")

# 02 - Indexing, Selecting & Assigning

## 1 
Select the `description` column from `reviews` and assign the result to the variable `desc`.

desc = reviews["description"]

## 2
Select the first value from the description column of reviews, assigning it to variable first_description.

first_description = reviews["description"][0]

first_description = reviews["description"][0]

## 3
Select the first row of data (the first record) from reviews, assigning it to the variable first_row.

first_row = reviews.iloc[0]

## 4
Select the first 10 values from the description column in reviews, assigning the result to variable first_descriptions.

first_descriptions = reviews["description"][:10]

## 5
Select the records with index labels 1, 2, 3, 5, and 8, assigning the result to the variable sample_reviews.

sample_reviews = reviews.iloc[[1,2,3,5,8],:]

## 6 
Create a variable df containing the country, province, region_1, and region_2 columns of the records with the index labels 0, 1, 10, and 100. In other words, generate the following DataFrame:

df = reviews.loc[[0,1, 10,100], ["country", "province", "region_1", "region_2"]]

## 7 
Create a variable df containing the country and variety columns of the first 100 records.

df = reviews.loc[0:99, ["country", "variety"]]

## 8 
Create a DataFrame italian_wines containing reviews of wines made in Italy. Hint: reviews.country equals what?

italian_wines = reviews[reviews.country == "Italy"]

## 9 
Create a DataFrame top_oceania_wines containing all reviews with at least 95 points (out of 100) for wines from Australia or New Zealand.

top_oceania_wines = reviews[(reviews.points >= 95) & ((reviews.country=="Australia") | (reviews.country=="New Zealand"))]